.indexItem {
    display: grid;
    align-content: flex-end;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
    border-bottom: solid 1px lightgrey;
    padding: 10px 0 0 0; 


}
.status {
    justify-self: right;
    text-align: right;
}