@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');



.App {
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: 25%;
  margin-right: 25%;

}

.headerTitle {
  text-align: center;
}



