.HomePage  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 0.5fr 2fr 1.5fr;



}

.VictoryContainer  {
    grid-row: 3/4;
}

.AddJobForm {
    grid-column: 1/3;
}



