.HomePage  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 0.3fr 2fr 2fr;
    text-align: center;



}
.headerTitle {
    grid-column: 1/3;
    grid-row: 2/3;
}

.VictoryContainer  {
    grid-row: 3/4;
}

.AddJobForm {
    grid-column: 1/3;
}



